apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: frontend
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 5000           # Internal cluster port
      targetPort: 5000     # Pod port



